#back{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(0 150 136) 10%,rgba(255, 255, 255, 0.767) 0%);
}
.attiva{
    background-color: whitesmoke;
}
.sezione{
    height: 70px;
    background-color: rgb(234 234 234);
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;
}
aside{
    background-color: rgb(234 234 234);
    width: 25vw;
}
.icon-color{
    color: rgb(177 177 177);
    font-size: 1.3rem;
    margin-right: 1rem;
}
#user{
    font-size: 1.3rem;
}
.icon-notifica{
    color: #8edafc;
    font-size: 1.3rem;
    margin: 5px;
}
#allert-notifica{
    background-color: #8edafc;
}
#bg-notifica{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    top: 15px;
    left: 20px;
}
#text-notifica{
    top: 10px;
    left: 70px;
}
.mini-chat{
    cursor: pointer;
    background-color: rgb(234 234 234);
}
main{
    width: 60vw;
}
#chat{
    background-image: url(../img/mine.jpg);
    height: 70vh;
}
.mandato{
    background-color: rgb(213 249 186);
    justify-content: flex-end;
    width: 30%;
    padding: 10px;
    margin: 5px;
}
.ricevuto{
    background-color: whitesmoke;
    justify-content: flex-start;
    width: 30%;
    padding: 10px;
    margin: 5px;
}
.data{
    font-size: 0.7rem;
}